/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2013-12-21, 9:04:12
    Author     : home
*/

/*  GRID OF FIVE   ============================================================================= */

	
.xspan_5_of_5 {
	width: 100%;
}

.xspan_4_of_5 {
  	width: 79.68%; 
}

.xspan_3_of_5 {
  	width: 59.36%; 
}

.xspan_2_of_5 {
  	width: 39.04%;
}

.xspan_1_of_5 {
  	width: 18.72%;
}

///////*********************/////
.span_5_of_5 {
	width: 100%;
}

.span_4_of_5 {
  	width: 79.68%; 
}

.span_3_of_5 {
  	width: 59.36%; 
}

.span_2_of_5 {
  	width: 39.04%;
}

.span_1_of_5 {
  	width: 18.72%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_5_of_5 {
		width: 100%; 
	}
	.span_4_of_5 {
		width: 100%; 
	}
	.span_3_of_5 {
		width: 100%; 
	}
	.span_2_of_5 {
		width: 100%; 
	}
	.span_1_of_5 {
		width: 100%; 
	}
}



/*  GRID OF SIX   ============================================================================= */


.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

/*  GRID OF THREE   ============================================================================= */

	
.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 66.1%; 
}

.span_1_of_3 {
	width: 32.2%; 
}


/*  XGRID OF THREE   ============================================================================= */

	
.xspan_3_of_3 {
	width: 100%; 
}

.xspan_2_of_3 {
	width: 66.1%; 
}

.xspan_1_of_3 {
	width: 32.2%; 
}


/*  XGO FULL WIDTH AT LESS THAN 480 PIXELS */

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

/*@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}
*/
.span_1_of_6 {
  	width: 15.33%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

/*@media only screen and (max-width: 480px) {
	.span_6_of_6 {
		width: 100%; 
	}
	.span_5_of_6 {
		width: 100%; 
	}
	.span_4_of_6 {
		width: 100%; 
	}
	.span_3_of_6 {
		width: 100%; 
	}
	.span_2_of_6 {
		width: 100%; 
	}
	.span_1_of_6 {
		width: 100%; 
	}
}
*/



/*  SECTIONS  */
.section {
	clear: both;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: auto;
}


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
