/*Bodybackground
A - Home+ characteristics*/
body{
    font:12px Verdana;
    line-height: 20px;
}
p a{
    color: #3365a1;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2{
font-style: normal;
    font-weight: normal;    
}

.clbutt{
    background: #3365a1;
    color: #fff;
    border-radius:2px;
    border:1px solid #3365a1;
    padding: 10px;
    font: 13px Verdana;
    text-transform: uppercase;
    margin: 10px 
}
.clbutt:hover{
    background: #11437e;
}

p a:hover, td a:hover{
    text-decoration: underline;  
}


.acontent{ 
    background: #000 url('../img/abackground.jpg') no-repeat fixed;
    background-size: 100%;
}
.alogo{
    width:450px;
    margin: 0 auto;
}
.alogo img{
    width:100%;
}

/*Maincontent*/
.maincontent{
    width: 980px;
    margin: 30px auto;
    /*border: 1px solid #fff;*/
}
.search{
    width:400px;
    margin: 50px 0 0 180px;
    border-radius: 5px;
    border: groove #eee;
    font: 16px Verdana;
    padding: 20px;
}
.searchimg{
    width: 100px;
    cursor: pointer;
    margin: 30px 0 0 30px;
    opacity: 0.8;
}
/*.search img{
    width:100px;
    cursor: pointer;
    margin: 30px 0 0 30px;
    opacity:0.8;
}
.search img:hover{
    opacity: 1.0;
}*/
.noback{
    color:#fff;
    font:15px Verdana;
    line-height: 30px;
    width: 600px;
    margin: 30px auto;
}
.noback h3{
    padding: 10px 0;

}

.aexplain{
    width: 720px;
    margin:0 auto;
    padding-left:100px;
    /*border:1px solid red;*/
}
.aexplain h2{
    text-align: center;
    font:22px Tahoma;
    color: #3365a1;
    padding: 20px;
    border-bottom: 1px solid #3365a1;
    margin-bottom:25px;
}
.aexplain h3{
    font: 14px Verdana;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    color: #3365a1;
}
.aexplain p{
    font: 13px Verdana;
    line-height: 20px;
    text-align: justify;
    padding:5px;
}
.thnx{
    color:#3365a1;
}
.margin30{
    margin:0 30px;
}


.signintable{
    margin: 0 auto;
    padding: 20px;
    background: #3365a1;
    border-radius: 1px;
    color:#fff;
    font: 13px Verdana;
}
.signintable input{
    padding: 2px;
}
.signintable td{
    padding: 10px;
}
.signintable td:first-child{
    max-width: 120px; 
}
.signintable tr:last-child td{
    border:none;
    max-width: 250px;
}
.smallinput{
    margin:0 5px; width: 25px;
}
/*.signintable tr:last-child td .button{
    width: 100%;
    background: #ddd;
    color:#000;
    font: 12px Verdana;
    text-align:center;
    padding: 10px;
}*/
.infob{
    max-width:25px;
    margin-top:10px;
    border-radius: 10px;
    cursor:pointer;
}
/*Infobox*/
.infobox{
    border: 1px solid #ddd;
    font: 12px Verdana;
    padding: 3px;
    margin-right: 15px;
}
.link{
    color:#3365a1;
    font-weight: bold;
}


#describeback{
    color:#fff;
    padding: 10px 0;
    cursor:pointer;
}
.describeback{
    color:#3365a1;
    font: bold 12px Verdana;
    text-transform: uppercase;
    cursor:pointer;
}
#describeback:hover, .describeback:hover{
    text-decoration: underline;
}
/*Footer characteristics*/
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 980px;
    margin: 30px auto; /* the bottom margin is the negative value of the footer's height */
}
.afooter{
    height: 100px;
    border-top: 2px solid #fff;
    background: #000 url('../img/abackground.jpg') repeat;
    background-size: 2px;
}
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
.afooter footer{
    padding: 0 180px;
}
.myscript{
    width:100px; float:left; color:#fff;
}
.terms{
    text-align:right; color:#fff;
}
.img{
    width: 165px; float:right;
}
.img img{
    padding: 10px 1px;
    width: 30px;
}


/*******************************************************Searchresults outside*/
.fffbackg{
    margin: 50px auto;
    min-height: 400px;
    padding: 30px;
    background: #fff;
    border-radius: 2px;
}
.headissright{
    color: #3365a1;
    padding: 20px;
    border-bottom: 1px solid #3365a1;
    text-align: center;
    font: 22px Verdana;
}

.headimg{
    width:50px;
    cursor: pointer;
    float:left;
}
.parameter{
    margin-top: 5px; font:11px Verdana;
}
/*Search2 on the page with d results*/
.search2{
    margin-top:25px;}
.searchinp{
    width: 300px;
    margin: 5px 20px;
    padding: 10px;
}
.retable{
    padding:10px;
    margin: 40px auto;
    border-collapse: collapse;
    text-align: left;
}
.retable thead tr{
    background: #3365a1;
    color:#fff;
}
.retable tbody tr:hover{
    background: #eee;
    cursor:pointer;
}
.retable td,th{
    border:1px solid #ccc;
    padding: 10px;
    font: 13px Verdana;
    width: 150px;
}

/************************Page*with description of the university********************/
.butt1{
    color:#fff;
    font: 13px Verdana;
    padding:10px;
    text-transform: uppercase;
    margin:5px 20px 0 0;
    float:left;
}
.butt1:hover{
    background: #fff;
    color:#000;
}
.pimg{
    width:450px;
    height: 350px;
    margin: 20px;
}
.phead{
    margin: 20px 0 20px 0;
    padding:20px 30px;
    border-radius: 0 3px 0 0;
}

.phead table{
    border-collapse: collapse;
    width: 400px;
    float:left;
}
.inp input, .inp textarea{
    
}
.phead table td{
    border-top: 1px solid #ccc;
    padding:10px;
    font: 15px Verdana;
}
.phead input, .phead textarea{
    padding: 2px;
    width: 100%;
    max-width:200px;
}
.phead table td:first-child{
    font-size:12px;
}

/******************TEXT************/
.ptext{
    padding: 40px 0;
    text-align: justify;
    margin-right: -50px;
}
.box{
    padding: 20px;
    width: 550px;
    margin-right: 50px;
}
.box h3{
    font: 15px Verdana;
    color: #fff;
    border-radius: 3px 3px 0 0;
    background: #3365a1;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px; 
}
.box div{
    padding: 5px 15px;
    font: 13px Verdana;
    line-height:22px;
}
.aside{
    margin: 60px 0 0 -100px;
    width: 260px;
}
.aside h3{
    font: 15px Verdana;
    color: #3365a1;
    border-radius: 3px 3px 0 0;
    border: 1px solid #3365a1;
    padding: 10px;
    background: #fff;
    margin-bottom: 10px; 
    text-align: center;
}
.aside div, aside section{
    width: 260px;
    margin-top: -10px;
}
.aside p{
    padding: 20px 10px;
    background: #fff;
    font: 12px Verdana;
    border-bottom: 1px dashed #3356a1;
    
}


/***********************************FORM Login/Design*********************************/
.form{
    width: 400px;
    background: #fff;
    padding: 25px;
    margin: 30px auto;
    border-radius: 3px;
}
.form h2{
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #3365a1;
    text-align: center;
    text-transform: uppercase;
    color: #3356a1;
    font: 20px Century Gothic;
}
.form table{
    margin: 10px;
    padding: 10px;
    width: 100%;
}
.form table td{
    padding: 10px;
    font: 14px Verdana;
}
.form table td:first-child{
    width: 100px;
}


.input{
    width: 200px;
    padding: 5px;
}
.button{
    background: #3365a1;
    color:#fff;
    padding: 10px;
    font: 12px Verdana;
    float: right;
    border-radius: 2px;
    margin-right: 12px;
    width: 70px;
}

/***Forgot password***/
.smalltxt{
    font: 13px Verdana;
    color:#3356a1;
    text-align: left;
    padding-left:0;
}
.errorpage{
    width: 720px;
    margin: 20px auto;
    border-radius:10px;
    border: 2px solid #fff;
    color:#fff;
    padding: 20px;
    min-height: 300px;
}
.errorpage h1{
    font: bold 22px Century Gothic;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
}
.errorpage h2{
    font: 22px Century Gothic;
    padding-bottom: 20px;
}
.errorcnt{
    padding: 10px;
}
.errorpage div{
    font: 15px Verdana;
    line-height: 25px;
}
.errorpage a{
    font-weight: bold;
    text-transform: uppercase;
}
.errorcnt a:hover{
    text-decoration: underline;
}
.imgsm img{
    width: 80px;
    padding: 20px 10px;

}

.imglogo{
    width: 70px;
    height: 70px;
    float: right;
    margin-top: -100px;
}
.imglogoin{
    width: 70px;
    height: 70px;
    float: right;
    border-top: 1px solid #3365a1;
}
.imguni{
        width: 600px;
    height: 300px;
    float: left;
    margin-right: 30px;
    border-right: 1px solid #ddd;
    
}
.pageinf{
    padding: 20px;
    min-height: 320px;
    display: block;
}
.pageinf h1{
    font: 20px Century Gothic;
    color: #3365a1;
    text-transform: uppercase;
    padding: 20px;
    border-top: 1px solid #3365a1;
    margin-bottom: 22px;
}
.pageinf h2{
    font: bold 18px Century Gothic;
    color: #fff;
    padding: 20px;
    background: transparent;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

}
.pageinf h3{
    font: 14px Century Gothic;
    color: #fff;
    padding: 20px;
    background: transparent;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

}
.pageinf0{
    min-height: 320px;
    
}
.pageinf10{
    padding: 20px;
}
.pageinf1{
    font: bold 15px Verdana;
    padding-top: 20px;
}
.pageinf2{
    font: 12px Verdana;
    padding-top: 5px;
    border-bottom: 1px solid #ddd;
}
.pageinf11{font: bold 16px Verdana;
padding-bottom: 10px;}
.pageinf12{ font:  14px Verdana;}

/*.phead{
    margin: 20px 0 20px 0;
    padding:20px 30px;
    border-top: 1px solid #3365a1;
    border-radius: 0 3px 0 0;
}
.phead h2{
    
}
.phead table{
    margin: 15px -20px 0 -15px;

    border-collapse: collapse;
}
.phead table td{
    border-top: 1px solid #ccc;
    padding:10px;
    font: 13px Verdana;
}
.phead table td:first-child{
    font-size:11px;
    width: 120px;
}*/


/*Ab 720px and 450px changes*/
@media only screen and (max-width: 980px){
    .wrapper, .afooter{
        min-width: 980px;
    }
}
